<button mat-button (click)="addUser()">
    Add user
</button>
<button class="material-icons" (click)="ngOnInit()" >
    restore
    </button>
<table mat-table [dataSource]="users" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div>

                    <div *ngFor="let property of displayedColumns">
                        <mat-form-field appearance="fill">
                            <mat-label>{{property}}</mat-label>
                            <input type="text" [value]="element[property]" matInput>
                        </mat-form-field>
                    </div>
                    <div class="footer">
                        <button mat-button (click)="cancelChanges(element)">Cancel changes</button>
                        <button mat-button (click)="deleteUser(element)">Delete user</button>
                        <button mat-button (click)="revokeUser(element)">Revoke user token</button>
                        <button mat-button (click)="saveChanges(element)">Save changes</button>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>

<mat-list>
 <mat-list-item  *ngFor="let item of authorizedApps" > {{item.name}} <button (click)="revokeApp(item.client_id)" >Revoke app permissions</button> </mat-list-item>

</mat-list>