<table class="tg">
    <thead>
        <tr>
            <th >Monday</th>
            <th >Tuesday</th>
            <th >Wednesday</th>
            <th >Thursday</th>
            <th >Friday</th>
            <th >Saturday</th>
            <th >Sunday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td >1</td>
            <td >1</td>
            <td >1</td>
            <td >1</td>
            <td >1</td>
            <td >1</td>
            <td >1</td>
        </tr>
        <tr>
            <td >2</td>
            <td >2</td>
            <td >2</td>
            <td >2</td>
            <td >2</td>
            <td >2</td>
            <td >2</td>
        </tr>
        <tr>
            <td >3</td>
            <td >3</td>
            <td >3</td>
            <td >3</td>
            <td >3</td>
            <td >3</td>
            <td >3</td>
        </tr>
        <tr>
            <td >4</td>
            <td >4</td>
            <td >4</td>
            <td >4</td>
            <td >4</td>
            <td >4</td>
            <td >4</td>
        </tr>
    </tbody>
</table>