
<div mat-dialog-content>

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.username">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput [(ngModel)]="data.id">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput [(ngModel)]="data.phone_number">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Create</button>
</div>